// Sidebar Navigation

.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar-nav li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: $sidebar-nav-color;

  @include the-transition();
    &:hover {
      color: $sidebar-nav-hover-color;
      border-bottom: 1px solid $sidebar-nav-hover-color;
    }
  }
  
  .sidebar-nav .sidebar-nav-active {
    color: $sidebar-highlight;
    border-bottom-color: $sidebar-highlight;
    
    &:hover {
      color: $sidebar-highlight;
      border-bottom: 1px solid $sidebar-highlight;
  }
}

.sidebar-panel { display: none; }
.sidebar-panel-active { display: block; }
