.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  width: 0;
  z-index: $zindex-4;
  box-shadow: inset 4px 4px 6px 0 $gray-light;
  background: $body-bg-color;
  -webkit-transform: translateZ(0); // http://stackoverflow.com/questions/17079857/position-fixed-broken-in-chrome-with-flash-behind

  a {
    color: $gray-dark;
    border-bottom-color: $black-light;

    &:hover { color: $black-deep; }
  }

  @include tablet() {
    display: none !important;
  }
  @include mobile() {
    display: none !important;
  }

  .category-list-item a {
    color: $black-light;
    border-bottom-color: transparent;

    @include the-transition();
      &:hover {
        color: $link-hover-color;
        border-bottom: 1px solid $link-decoration-hover-color;
      }
  }
}

.sidebar-inner {
  position: relative;
  padding: 100px 10px 20px 10px;
  color: $gray-dark;
  text-align: center;
}

@import "sidebar-toggle";
@import "sidebar-author";
@import "site-state";
@import "sidebar-feed-link";
@import "sidebar-author-links";
@import "sidebar-blogroll";
@import "sidebar-nav";
@import "sidebar-toc";
