.footer {
  font-size: 14px;
  color: $gray-dark;

  img { border: none; }
}

.footer-inner { text-align: center; }

.footer-wapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .powered-by, .theme-info {
    margin: 0 10px;

    a {
      border-bottom: none;
    }
  }
}


.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}

.authoricon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center / contain no-repeat url("/assets/authoricon-theme.png");
}
