<span style="font-weight: 200;">extra-light</span><br>
<span style="font-weight: 300;">light</span><br>
<span style="font-weight: 400;">regular</span><br>
<span style="font-weight: 500;">medium</span><br>
<span style="font-weight: 600;">semi-bold</span><br>
<span style="font-weight: 700;">bold</span><br>
<span style="font-weight: 800;">extra-bold</span><br>
<span style="font-weight: 900;">black</span><br>
<br>
<span style="font-weight: 100;">씬</span><br>
<span style="font-weight: 300;">라이트</span><br>
<span style="font-weight: 400;">레귤러</span><br>
<span style="font-weight: 500;">미디엄</span><br>
<span style="font-weight: 700;">볼드</span><br>
<span style="font-weight: 900;">블랙</span><br>
안녕하세요. 신입 개발자 장종인입니다.