<section id="posts" class="posts-expand">
    <div class="home-wrap">
        <header class="hello">
            <span class="kor">안녕하세요. 개발자 장종인입니다.</span>
            <br>
            <span class="eng">I'm Joey Jang.</span>
        </header>

        <section class="container intro">
            <div class="profile"></div>
            <span>
                단순히 기능을 구현하는 것에 만족하지 않습니다. 문제를 근본적으로 이해하고, 더 효율적인 방법은 없을지 고민합니다.
            </span>
            <span>
                가구 디자인을 전공하여 기획부터 디자인, 제작까지의 전반적인 과정에 대한 경험을 가지고 있습니다.
                이러한 경험을 바탕으로 기획, 디자인팀과 원활히 소통하며 새로운 가치를 만들어 갑니다.
            </span>
        </section>

        <section class="container contact">
            <h3 class="title">Contact</h3>
            <ul>
                <li>
                    <span class="subject">
                        <span class="lowast">&lowast;</span> Email
                    </span>
                    <span class="content">
                        <a href="mailto:joey.ngn.jang@gmail.com">
                            joey.ngn.jang@gmail.com
                        </a>
                    </span>
                </li>
                <li>
                    <span class="subject">
                        <span class="lowast">&lowast;</span> Phone
                    </span>
                    <span class="content">
                        <a href="tel:010-4703-9091">
                            010-4703-9091
                        </a>
                    </span>
                </li>
                <li>
                    <span class="subject">
                        <span class="lowast">&lowast;</span> GitHub
                    </span>
                    <span class="content">
                        <a href="https://www.github.com/Joey-Jang">
                            https://www.github.com/Joey-Jang
                        </a>
                    </span>
                </li>
                <li>
                    <span class="subject">
                        <span class="lowast">&lowast;</span> Blog
                    </span>
                    <span class="content">
                        <a href="https://Joey-Jang.github.io">
                            https://Joey-Jang.github.io
                        </a>
                    </span>
                </li>
            </ul>
        </section>

        <section class="container tech-stack">
            <h3 class="title">Tech Stack</h3>
            <div class="techs">
                <div class="tech">HTML / CSS</div>
                <div class="tech">JavaScript</div>
                <div class="tech">JQuery</div>
                <div class="tech">Java</div>
                <div class="tech">Spring</div>
                <div class="tech">Git</div>
            </div>
        </section>

        <section class="container work-experience">
            <h3 class="title">Work Experience</h3>
            <ul>
                <li>
                    <span class="span-wrapper">
                        <span class="subject">인프라소프트</span>
                        <span class="period">2022.01 ~ 현재</span>
                    </span>
                    <span class="content">신사업기술팀</span>
                </li>
            </ul>
        </section>

        <section class="container project">
            <h3 class="title">Project</h3>
            <ul>
                <li>
                    <span class="span-wrapper">
                        <span class="subject">🥑장보코</span>
                        <span class="period">2021.08 ~ 2021.11</span>
                    </span>
                    <span class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, perferendis dolores dolorem at repellendus vel perspiciatis fugit facere corporis repudiandae ipsam error, vitae dignissimos cum aperiam ipsum aut itaque quibusdam! 지도를 기반으로 주변 마트/시장의 가격 정보를 제공합니다. 현명한 소비 생활을 관리, 공유할 수 있는 서비스입니다.</span>
                </li>
            </ul>
        </section>

        <section class="container education">
            <h3 class="title">Education</h3>
            <ul>
                <li>
                    <span class="span-wrapper">
                        <span class="subject">구디아카데미</span>
                        <span class="period">2021.05 ~ 2021.11</span>
                    </span>
                    <span class="content">자바 스프링 개발자 육성 과정</span>
                </li>
                <li>
                    <span class="span-wrapper">
                        <span class="subject">홍익대학교</span>
                        <span class="period">2017.03 ~ 2021.08</span>
                    </span>
                    <span class="content">목조형가구학과</span>
                </li>
            </ul>
        </section>
        
        <section class="container certification">
            <h3 class="title">Certification</h3>
            <ul>
                <li>
                    <span class="subject">정보처리기사</span>
                    <span class="period">2021.11</span>
                    <!-- <span class="content"></span> -->
                </li>
                <li>
                    <span class="subject">SQL Developer</span>
                    <span class="period">2021.10</span>
                    <!-- <span class="content"></span> -->
                </li>
            </ul>
        </section>
    </div>
</section>