<section id="posts" class="posts-expand">
    <div class="home-container">
        <header class="title">안녕하세요. 개발자 장종인입니다.<br>I'm Joey Jang.</header>
        <div class="intro-container">
            <p>
                단순히 기능을 구현하는 것에 만족하지 않습니다. 문제를 근본적으로 이해하고, 더 효율적인 방법은 없을지 고민합니다
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque distinctio blanditiis dolorem perspiciatis soluta veniam unde facilis exercitationem itaque minus voluptatibus expedita, pariatur voluptatem non, quis repellat recusandae officia.
            </p>
            <div class="profile"></div>
        </div>
        <div>skill</div>
        <div>work experience</div>
        <div>project</div>
        <div>education</div>
        <div>certification</div>
    </div>


    <span style="font-weight: 200;">extra-light</span><br>
    <span style="font-weight: 300;">light</span><br>
    <span style="font-weight: 400;">regular</span><br>
    <span style="font-weight: 500;">medium</span><br>
    <span style="font-weight: 600;">semi-bold</span><br>
    <span style="font-weight: 700;">bold</span><br>
    <span style="font-weight: 800;">extra-bold</span><br>
    <span style="font-weight: 900;">black</span><br>
    <br>
    <span style="font-weight: 100;">씬</span><br>
    <span style="font-weight: 300;">라이트</span><br>
    <span style="font-weight: 400;">레귤러</span><br>
    <span style="font-weight: 500;">미디엄</span><br>
    <span style="font-weight: 700;">볼드</span><br>
    <span style="font-weight: 900;">블랙</span><br>
</section>