<div class="sidebar-toggle">
  <div class="sidebar-toggle-line-wrap">
    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
  </div>
</div>

<aside id="sidebar" class="sidebar">
  <div class="sidebar-inner">
    <div class="category-all-page motion-element">
      <div class="post-all-wrapper">
        <a class="post-all-link" href="/blog/">전체 글</a>
        <span class="post-all-count">{{ site.posts.size }}</span>
      </div>

      <div class="category-all">
        <span class="categories-title-wrapper">
          <a href="/categories/">
            <span class="lowast">&lowast;</span>
            {{ __.title.categories }}
          </a>
        </span>
      </div>

      <div class="category-all">
        {% assign sorting = false %}
        {% assign amount = 200 %}
        {% include _helper/list_categories.html %}
        {{ list_categories }}
      </div>
    </div>
  </div>
</aside>
