<div class="sidebar-toggle">
  <div class="sidebar-toggle-line-wrap">
    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
  </div>
</div>

<aside id="sidebar" class="sidebar">
  <div class="sidebar-inner">
    <div class="category-all-page motion-element">
      <div class="category-all">
        <ul class="category-list">
          <li class="category-list-item">
            <a class="category-list-link" href="/blog/">전체 글</a>
            <span class="category-list-count">{{ site.categories.size }}</span>
          </li>
        </ul>
      </div>

      <div class="category-all">
        {% include _helper/list_categories.html %}
        {{ list_categories }}
      </div>
    </div>
  </div>
</aside>
