{% comment %} sidebar(is_post) {% endcomment %}

  <div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
      <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
  </div>

  <aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
      {% if is_post and site.toc.enable %}
        {% assign display_toc = true %}
        {% assign source = page.content %}
        {% include _helper/toc.html %}
      {% endif %}

      {% if display_toc and toc.size > 1 %}
        <ul class="sidebar-nav motion-element">
          <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap" >
            {{ __.sidebar.toc }}
          </li>
          <li class="sidebar-nav-popular" data-target="post-popular">
            {{ __.sidebar.popular }}
          </li>
        </ul>
      {% endif %}

      <section class="post-popular sidebar-panel{% unless display_toc and toc.size > 1 %} sidebar-panel-active{% endunless %}">
        <div class="post-all-wrapper motion-element">
          <a class="post-all-link" href="/blog/">전체 글</a>
          <span class="post-all-count">{{ site.posts.size }}</span>
        </div>

        <div class="category-all-page motion-element">
    
          <div class="category-all">
            {% assign sorting = true %}
            {% assign desc = true %}
            {% assign amount = 5 %}
            {% include _helper/list_categories.html %}
            {{ list_categories }}
          </div>
        </div>

        <div class="tag-cloud motion-element">
          <div class="tag-cloud-tags">
            {% assign sorting = true %}
            {% assign desc = true %}
            {% assign amount = 5 %}
            {% assign min_size = 14 %}
            {% assign max_size = 32 %}
            {% assign min_weight = 400 %}
            {% assign max_weight = 700 %}
            {% assign color = true %}
            {% assign start_color = '102,204,153' %}
            {% assign end_color = '255,153,102' %}
            {% include _helper/tagcloud.html %}
            {{ tagcloud }}
          </div>
        </div>
      </section>

      {% if display_toc and toc.size > 1 %}
      <!--noindex-->
        <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
          <div class="post-toc">
            {% if page.toc_number == nil %}
              {% assign list_number = site.toc.number %}
            {% else %}
              {% assign list_number = page.toc_number %}
            {% endif %}
            {% assign class = 'nav' %}
            {% assign source = page.content %}
            {% include _helper/toc.html %}

            {% if toc.size <= 1 %}
              <p class="post-toc-empty">{{ __.post.toc_empty }}</p>
            {% else %}
              <div class="post-toc-content">{{ toc }}</div>
            {% endif %}
          </div>
        </section>
      <!--/noindex-->
      {% endif %}

      {% if site.sidebar.b2t %}
        <div class="back-to-top">
          <i class="fa fa-arrow-up"></i>
          {% if site.sidebar.scrollpercent %}
            <span id="scrollpercent"><span>0</span>%</span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </aside>
