// 헤더

.header {
    background: $head-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: $zindex-5;
}

.header-inner {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid $header-border-color;
}
@media (max-width: 767px) {
    .header-inner {
        justify-content: center;
    }
}


@import "site-meta";
@import "site-nav";
@import "menu";
