// 메뉴

.menu {
  margin: 0;
  padding: 20px 0 20px 80px;
  text-align: center;

  @include mobile() {
    text-align: left;
    padding-left: 20px;
    box-shadow: 0 4px 6px 0 $gray-light;
  }
}

.menu .menu-item {
  display: inline-block;
  margin-right: 20px;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  br {
    @include mobile() { display: none; }
  }

  a {
    display: block;
    font-size: 16px;
    line-height: inherit;
    border-bottom: none;

    @include mobile() { padding: 5px 10px; }
  }

  @include mobile() {
    display: block;
    margin: 0 10px;
    vertical-align: top;
  }
}

.use-motion .menu-item { opacity: 0; }
