// 모바일 토글 메뉴

// 토글 아이콘
.site-nav-toggle {
  display: none;
  position: absolute;
  top: 12px;
  left: 12px;
  @include mobile() {
    display: block;
  }

  button {
    padding: 0;
    background: transparent;
    border: none;
  }
}

// 토글 메뉴
.site-nav {
  @include mobile() {
    display: none;
    clear: both;

    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    z-index: 1;
  }
  @include tablet() { display: block !important; }
  @include desktop() { display: block !important; }
}
