// TODO: Refactor.

@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;

    .post-title, .post-meta {
      display: block;
      width: auto;
      text-align: left;
    }
  }
}

.posts-collapse {
  position: relative;
  height: 100px;
  padding-top: 60px;
  z-index: $zindex-1;

  // &::after {
  //   content: " ";
  //   position: absolute;
  //   top: 20px;
  //   left: 0;
  //   margin-left: -2px;
  //   width: 4px;
  //   height: 100%;
  //   background: $whitesmoke;
  //   z-index: $zindex-bottom;
  // }

  margin-left: $posts-collapse-left;
  @include mobile() { margin: 0 20px; }

  .category-title-wrapper {
    position: relative;

    .lowast {
      font-size: 30px;
      line-height: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 4px;
      bottom: -18px;
      width: 57px;
      height: 31px;
      border: 2px solid $theme;
      border-radius: 50%;
      transform: rotate(-10deg);
      z-index: -1;
    }
  }

  .collection-title {
    position: relative;
    // margin: 60px 0;
    display: inline-block;

    h1, h2 { margin-left: 0; } // 20px

    small { color: $gray; margin-left: 5px; }

    hr {
      margin: 20px 0; 
      height: 1px;
      background: $gray-light;
    }
  }

  &.tag-title .collection-title {
    h1, h2 {
      padding: 2px 10px;
      color: $theme-cc;

      &::before {
        content: "";
        position: absolute;
        left: -5%;
        bottom: -5%;
        width: 110%;
        height: 110%;
        border: 3px solid $gainsboro;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: -1;
      }
    }
  }

  .post { margin: 30px 0; }

  .post-header {
    position: relative;
    @include the-transition();
    transition-property: border;
    border-bottom: 1px dashed $gray-light;
  }

  .post-header:hover {
    border-bottom-color: $gray-dim;

    &::before { background: $black-deep; }
  }

  .post-meta {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 5px;
  }

  .post-comments-count { display: none; }

  .post-title {
    margin-left: 60px;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;

    &::after {
      margin-left: 3px;
      opacity: 0.6;
    }

    a {
      color: $gray-dim;
      border-bottom: none;
    }
  }
}
