.category-all-page {
  .category-all-title { text-align: center; }

  .category-all { margin-top: 20px; }

  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .category-list-item {
    margin: 0 10px;
    padding-left: 20px;
    text-align: left;

    .category-all-link {
      color: $black-light;
      border-bottom: none;

      @include the-transition();
      &:hover {
        color: $theme;
        font-weight: 500;
      }
      
      &:hover + .category-list-count { color: $black-deep; }
    }

    .category-list-link {
      position: relative;
      color: $black-light;
      border-bottom: none;

      @include the-transition();
      &:hover {
        font-weight: 500;
      }

      &:hover + .category-list-count { color: $black-deep; }

      .lowast {
        font-size: 30px;
        line-height: 30px;

        @include the-transition();
        transition-duration: 0.6s;
        transform-origin: 52% 55%;
      }
      &:hover .lowast { transform: rotate(350deg); }

      &::before {
        content: "";
        position: absolute;
        left: 4px;
        bottom: 0.3px;
        width: 17px;
        height: 9px;
        border: 1.5px solid $theme;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: -1;
        opacity: 0;

        @include the-transition();
        transition-duration: 0.6s;
      }
      &:hover::before { opacity: 1; }
    }
  }

  .category-list-count {
    color: $gray;

    @include the-transition();

    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .category-list-child { padding-left: 10px; }
}

.post-category {
  a {
    border-bottom: none;
    
    @include the-transition();
    &:hover { color: $theme; }
  }
}