.home-wrap{
    display: flex;
    flex-flow: column nowrap;
    color: $black-deep;
    
    .container {
        margin-bottom: 20px;
        
        .title {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: 500;
            color: $theme;
        }

        ul {
            width: 100%;
            margin: 10px 0;
            padding-left: 0;

            li {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                margin-bottom: 15px;
                padding: 0 10px 15px 10px;
                border-bottom: 1px solid $border-color;
                
                &::marker { color: $theme-cc; }

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                }

                span { display: inline-block; }

                .span-wrapper {
                    display: flex;
                    flex-flow: column nowrap;

                    @include mobile() { width: 100%; }
                }

                .subject {
                    width: 250px;
                    height: 30px;
                    font-size: 17px;
                    order: 1;

                    @include mobile() { width: 100%; }
                }
                
                .period {
                    width: 100%;
                    height: 20px;
                    font-size: 13px;
                    color: $gray-dark;
                    order: 3;
                }
                
                .content {
                    max-width: 330px;
                    padding-top: 5px;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.8;
                    text-align: justify;
                    order: 2;
                }
            }
        }
    }
    
    .hello {
        margin-bottom: 25px;
        font-style: italic;
        line-height: 1;
        
        .kor {
            font-size: 30px;
            font-weight: 400;
        }

        .eng {
            font-size: 28px;
            font-weight: 600;
        }
    }
    
    .intro {
        padding: 0 10px 5px 10px;
        font-weight: 300;
        line-height: 1.8;
        text-align: justify;
        clear: both;

        span {
            display: block;
            margin-bottom: 20px;
            text-indent: 10px;
        }

        .profile {
            float: right;
            min-width: 320px;
            max-width: 320px;
            min-height: 240px;
            max-height: 240px;
            margin: 10px 0 0 25px;
            // background: center / cover no-repeat url("/assets/images/profile-webjpeg-high.jpg");
            border-radius: 50%;
            transform: rotate(-10deg);
            
            @include mobile() {
                min-width: 160px;
                max-width: 160px;
                min-height: 120px;
                max-height: 120px;
            }
        }
    }

    .contact {
        ul {
            margin: 5px 0;
            padding-bottom: 20px;
            
            li {
                height: 30px;
                margin-bottom: 20px;
                padding-bottom: 0;
                border-bottom: none;

                @include mobile() { height: auto; }

                .content {
                    width: 100%;
                    height: 30px;
                    padding-top: 9px;
                    font-weight: 400;
                    text-indent: 16px;
                }

                a { border-bottom: none; }
            }
        }
    }

    .techs {
        margin-bottom: 20px;
        padding: 0 10px 0 10px;

        .tech {
            position: relative;
            display: inline-block;
            margin: 9px 5px 9px 0;
            padding: 2px 10px;
            font-size: 14px;
            color: $theme-cc;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $gainsboro;
                border-radius: 50%;
                transform: rotate(-10deg);
                z-index: -1;
            }
        }
    }

    .project {
        .period-inner { width: auto !important; }
    }
}